
.comment-body {
    font-size: 18px;
    line-height: 32px;
    font-family: "Nunito",helvetica,arial,sans-serif;
    font-weight: 300;
    text-align: left;
    color: #555;
    margin: 3px 0 20px;
    white-space: pre-line;
    max-width: 800px;
    padding-top: 10px;
}

.comment-author {
    font-size: 18px;
    line-height: 32px;
    font-family: "Nunito",helvetica,arial,sans-serif;
    font-weight: 700;
    text-align: left;
    color: #555;
    margin: 3px 0 20px;
    white-space: pre-line;
    max-width: 800px;
}

.comment-container {
    position: relative;
    padding-left: 32px;
    text-align: left;
    padding-top: 20px;
    border-top: 1px solid #ddd
}

.comments-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
}

.comment-avatar {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    margin-right: 10px;
}

.comment-box {
    border: 1px solid #ddd;
    border-radius: 6px;
    background: #f6f6f6;
    margin: 20px 0;
    padding: 15px;
    text-align: center;
    max-width: 758px;
}

.comment-box textarea {
    /* width: 100%; */
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 12px;
    margin-left: 10px;
    min-height: 110px;
    width: 656px;
    outline: none;
    resize: inherit;
    /* resize: none; */
}

.comment-button {
    height: 46px;
    width: 153px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    /* display: inline-block; */
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
    /* white-space: nowrap; */
    background-color: #faac18;
    border-color: #e5991e;
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.disabled-comment-button {
    height: 46px;
    width: 153px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: default;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 9px;
    text-align: center;
    vertical-align: middle;
    /* white-space: nowrap; */
    background-color: #FCC979;
    border-color: #EFBD78;
    color: #fff;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

.cancel-button {
    margin: 15px 3px 0;
    font-size: 15px;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background-color: #f6f6f6;
    border-color: #dedede;
    color: #333;
    font-weight: 400;
    align-items: flex-end;

}
.comment-submit-button {
    margin: 15px 3px 0;
    font-size: 15px;
    padding: 10px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    background-color: #faac18;
    border-color: #e5991e;
    color: #fff;
    font-weight: 400;
    align-items: flex-end;
}

.comment-actions {
    display: flex;
    justify-content: space-between;
}
.comment-input {
    display: flex;
    justify-content: space-between;
}
.comment-input img {
    width: 50px;
    height: 50px;
}

.policy {
    margin-top: 5px;
    text-align: left;
    color: #aaa;
    font-size: 13px;
}
.policy b {
    text-align: left;
    color: #555;
    font-size: 13px;
    font-weight: 700;
}