 .navbar ul {
  list-style-type: none;
  margin: 0;
  background-color: #555;
  height: 38px;
  padding: 0;
}

.navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: #555;
}

.right-nav li {
  float: right;
  color: white;
  font-size: 9pt;
  text-align: center;
  padding: 11px 5px;
  text-decoration: none;
}

.right-nav {
  padding: 0px 20px 0px 0px;
  background-color: #555;
}

.right-nav li a {
  display: block;
  color: white;
  font-size: 9pt;
  text-align: center;
  /* padding: 12px 16px; */
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}

.logo {
  padding: 12px
}

.fa {
    color: #ccc;
    padding: 0px 12px
}

.left-nav {
    float: left;
    color: #ccc;
    font-size: 9pt;
    text-align: center;
    padding: 12px 5px;
    text-decoration: none;
}


.left-nav li {
  float: left;
  color: #ccc;
  font-size: 10pt;
  text-align: center;
  padding: 10px 8px;
  text-decoration: none;
}

.left-nav {
  padding: 0px 20px 0px 0px;
  background-color: #555;
}

.left-nav li a {
  display: block;
  color: #ccc;
  font-size: 9pt;
  text-align: center;
  /* padding: 12px 16px; */
  text-decoration: none;
}

.navbar li a:hover {
  text-decoration: underline;
}
