
.project-show {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  width: 100%;
  position: relative;
  top: 20px;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 70px;
}

.project-title {
    padding: 0 20px;
    color: #333;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 800px;

}

.project-body {
    font-size: 20px;
    line-height: 32px;
    font-family: "Nunito",helvetica,arial,sans-serif;
    font-weight: 300;
    text-align: left;
    color: #555;
    margin: 3px 0 20px;
    white-space: pre-line;
    max-width: 800px;
}

.project-step-title {
    padding: 0 20px;
    color: #333;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 10px;
    max-width: 800px;

}

.project-step-body {
    font-size: 20px;
    line-height: 32px;
    font-family: "Nunito",helvetica,arial,sans-serif;
    font-weight: 300;
    text-align: left;
    color: #555;
    margin: 3px 0 20px;
    white-space: pre-line;
    max-width: 800px;

}

.project-step-body:after {
    content: '';
    display: block;
    width: 100px;
    margin: 30px auto 0;
    border-top: 1px solid #d6d6d6
}

.delete-button {
    height: 34px;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    /* display: inline-block; */
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    /* white-space: nowrap; */
    background-color: #b30000;
    border-color: #800000;
    color: #fff;
    text-decoration: none;
    margin: 10px 0px 10px 0px;
}

.project-show-image {
    width: 800px;
    height: 600px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
    margin-bottom: 50px;
    margin-top: 20px;
}