.project-list {
    display: flex;
    position: relative;
    width: 100%;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.project-item {
    display: block;
    width: 306px;
    min-width: 306px;
    background: #fff;
    box-sizing: border-box;
    margin: 10px 10px 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.project-item-image img {
    width: 304px;
    height: 255px;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.project-item-info {
    padding: 10px 13px;
    margin-bottom: 10px;
    height: 50px;
    overflow: hidden;
    color: #999;
    font-size: 10pt;
}

.project-index-header {
    border-top: 1px solid grey;
}

.project-index h2 {
    position: relative;
    top: 20px;
    font-family: 'BenchNine', sans-serif;
    letter-spacing: 0.02em;
    font-size: 26pt;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
}