
.sessionbox {
  content: " ";
  z-index: 10;
  display: block;
  position: relative;
  height: 100%;
  width: 400px;
  height: 900px;
  top: 128px;
  left: 0;
  right: 0;
}



.session-image {
  height: 900px;
  width: 100%;
  background-image: url("harry.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* top: 128px; */
}

.dimmed {
  /* margin: 0px 0px 0px 0px; */
  content: " ";
  z-index: 10;
  display: block;
  position: relative;
  height: 100%;
  width: 400px;
  height: 900px;
  top: 0px;
  left: 50px;
  background:rgba(0,0,0,0.2);
  backdrop-filter: blur(4px);
}

.session-button {
  background-color:#faac18;
  border: none;
  color: white;
  /* padding: 16px 32px; */
  text-decoration: none;
  font-size: 15pt;
  margin: 4px 2px;
  cursor: pointer;
  width: 360px;
  height: 42px;
  border-radius: 5px;
}

.demo {
  background-color: #587ebf;
}

.session-input {
  border: none;
  padding: 0px 16px;
  text-decoration: none;
  font-size: 15pt;
  margin: 4px 2px;
  width: 360px;
  height: 42px;
  border-radius: 5px;
}

.sessionbox p {
  color: white;
  font-size: 10pt;
}

.sessionbox p a {
  color: white;
  font-size: 10pt;
}

.sessionbox p a:visited {
  color: white;
  font-size: 10pt;
}

.session-errors {
  box-sizing: border-box;
  list-style: none;
  background-color: #b94a48;
  width: 360px;
  border-radius: 5px;
  padding: 10px;
  color: white;
  font-weight: bold;
  font-size: 10pt;
}