.splash-container {
    height: 450px;
    width: 100%;
}

.main-image {
  height: 450px;
  width: 100%;
  background-image: url("harry_gradient.jpg");
  background-position: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  /* overflow: hidden; */
  top: 128px;
}

.big-splash-text { 
    /* position: absolute;
    top: 265px;
    left: 50px; */
    color: white;
    font-family: 'BenchNine', sans-serif;
    letter-spacing: 0.02em;
    font-size: 44pt;
}
.small-splash-text {
    /* position: absolute;
    top: 360px;
    left: 50px; */
    color: white;
}

.splash-text {
    position: absolute;
    left: 75px;
    top: 240px;
    max-width: 550px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 25px 0;
    text-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.home-text {
    padding: 50px;
    margin-top: 50px;
    display: flex;
    top: 1000px;
}

.home-text-box {
    margin: 10px;
}