.splash-container {
    height: 450px;
    width: 100%;
}

.main-image {
    height: 450px;
    width: 100%;
    background-image: url("harry_gradient.jpg");
    background-position: 25%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.big-splash-text { 
    color: white;
    font-family: 'BenchNine', sans-serif;
    letter-spacing: 0.02em;
    font-size: 44pt;
}
.small-splash-text {
    color: white;
}

.splash-text {
    position: absolute;
    left: 75px;
    top: 240px;
    max-width: 550px;
    width: 100%;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    padding: 25px 0;
    text-shadow: 0 1px 4px rgba(0,0,0,0.15);
}

.home-text {
    display: relative;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    display: flex;
}

.home-text-box {
    margin: 10px;
}